@charset "utf-8";
@import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
@import "compass/css3";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */


.btn {
    transition-property: padding;
    transition-duration: 300ms; //bei 600ms dauert länger
    transition-delay: 0ms; //dauert länger bis wieder in Ursprung zurückgeht
    transition-timing-function: linear;

    //Auswirkungen: Dynamik der Website, damit man sich auf einzelne Inhalte fokussieren kann, Inhalt wirkt interessanter und wichtiger

    &.ease-in {
        transition-timing-function: ease-in;//startet langsam wird dann schneller
    }

    &.ease-out {
        transition-timing-function: ease-out;//startet schnell und wird dann langsamer
    }

    &.ease-in-out {
        transition-timing-function: ease-in-out;//startet ein wenig schneller als es anfängt
    }

    &.green {
        transition-property: all; //finde keinen Unterschied aber ich denke bei color sollte grün erscheinen, bei padding die Größe animiert werden und bei all beides
    }

    &.animation {
        position: absolute;
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;
    }
}

body:hover .animation {
    animation-name:myanimation2;
    animation-duration:5s;
}

.myanimation{
    transition-property: position;

}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

