@import "compass/reset";
@import "compass/css3";

$red = #d9534f;
$orange = #f0ad4e;
$green = #5cb85c;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family:'Open Sans', sans-serif;
}

/* dies ist ein kommentar */
#main {
    width: 990px;
    margin:0 auto;
}

@mixin wiederholen(){
    margin:10px 5px 10px 5px;
    border:1px solid #000;
}

@mixin margin(){
    margin:10px 5px 10px 5px;

}

input[type="text"],input[type="password"] {

    padding:5px;
     @include wiederholen;

    width: 180px;
}

input[type="submit"] {

    @include border-radius(0);
    background-color:#fafafa;
    @include wiederholen;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;
}

.feedback {
    @include margin;
    font-size:11px;
    font-weight:600;
        &.error {
        color:$red;
    }&.warning {
         color: $orange;
     }&.success {
                       color:$green;
                   }
}

.strengthIndicator {
    @include margin;
    width: 200px;
    padding:5px;
    height: 13px;
    border:1px solid #d3d3d3;

    &::before {
        content: "";
        @extend .warning .feedback.warning;
        height: 100%;

        -moz-transition-property: width;
        -o-transition-property: width;
        -webkit-transition-property: width;
        transition-property: width;

        -moz-transition-delay: 0;
        -o-transition-delay: 0;
        -webkit-transition-delay: 0;
        transition-delay: 0;

        -moz-transition-duration: 250ms;
        -o-transition-duration: 250ms;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;

        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }
}


.passwordWrapper::after {
    content: "";
    @extend .warning .feedback.warning;
    clear: both;
    float: none;
}

.error .strengthIndicator::before {
    width: 10%;
    background-color: $red;
}

.warning .strengthIndicator::before {
    width: 60%;
    background-color: $orange;
}

.success .strengthIndicator::before {
    width: 100%;
    background-color: $green;
}

.feedback.error, .feedback.warning, .feedback.success {
    display: none;
}

.error .feedback.error {
    display: block;
}

.warning .feedback.warning {
    @extend .warning .feedback.warning;
}

.success .feedback.success {
    @extend .warning .feedback.warning;
}

